{% extends "base.html" %}

{% block content %}
<form action="" method="POST" novalidate>
    {% if form %}
    {{ form.hidden_tag() }}
    <p>
        {% if form.name %}
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}

        {% elif form.password %}
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% endif %}
    </p>
    <p>{{ form.submit() }}</p>

    {% elif authentication_code %}
    <h2>Code: [ {{ authentication_code }} ]</h2>
    {% endif %}
</form>
{% endblock %}
