{% extends "base.html" %}

{% block content %}
<form action="" method="POST" novalidate>
    {% if form %}
    {{ form.hidden_tag() }}
    <p>
        {% if form.name %}
        {{ form.name(placeholder="Email, if you dare", size=32) }}

        {% elif form.password %}
        {{ form.password(placeholder="Enter password for a change", size=32) }}
        {% endif %}
    </p>
    <p>{{ form.submit() }}</p>

    {% elif authentication_code %}
    <p>Open your Authenticator app, and enter the number shown to sign in.</p>
    <h1 class="code">{{ authentication_code }}</h1>
    {% endif %}
</form>
{% endblock %}
